.about{
    
    margin-top: 80px;
    color: #fff;
}

.prof-img{
    margin: 50px auto 0;
}

.name{
  margin: 20px 5% 0;
  display: flex;
  justify-content: space-around;
}

.name h1{
    font-size: 6rem;
    font-weight: bold;

}

.name p{
  margin-left: 20px;
}

.name-contents{
    font-size: 3rem;
    
}

.profile{
  font-size: 1.5rem;
  margin-top: 30px;
  
}

.name-detail{
  width: 50%;
}




.content-all{
  
  margin-top: 80px;
}


.affiliation{
  margin-left: 50px;
}
.affiliation ul{
  margin-left: 80px;
  font-size: 2.5rem;
  list-style: square;
}

.skill{
  margin-top: 80px;
  margin-left: 50px;
}



.skill-imgs{
    display: flex;
    gap: 10px;
    margin: 20px 30px;
    width: 1fr;
    height: 100%;
    
}





