
.rotate-contents{
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
}

.circle{
    width: 50vw;
     /* アスペクト比を 1:1 に設定 */
    
    position: sticky;
    top: 30%;
    left: 0;
    height: 900px;
    
    transform: translateY(-25%);
    
}

.career .gradient-border{
   margin: 120px 0 120px 120px ;
   font-size: 4rem;
   font-weight: bold;
}

.circle img{
    width: 58%;
    height: 30%;
    

}

.detail-contents{
    width: 45%;
    height: 200vh;
    
    border: 1px solid #fff;

}
#one{
    position: absolute;
    top: 30%;
    left: 25%;
    

}
#two{
    rotate: 4deg;
    
}

#three{
    rotate: -4deg;
}

/* 年表のデザイン */


#two,#three,#four{
    position: absolute;
    top: 30%;
    left: calc(-25% - 58%); 
    
    
}

