.article{
    color: white;
    text-align: center;
}

.article h1{
    font-size: 4rem;
    font-weight: bold;
    margin: 120px 0px;
}

.items {
    background-color: black;
    margin: 120px 30px;
}

