.article {
  color: white;
  margin-top: 160px;
  padding: 0 24px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}

.items {
  list-style: none;
  padding: 0;
  margin: 0;
}
