.article-all{
    display: flex;
    color: white;
    align-items: flex-start;
    gap: 20px;
    /* 仮の高さ、実際のページに合わせて調整してください */

}

.article-title{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center; /* 水平方向に中央揃え */
    text-align: center;
    height: 300px;
   
    text-align: center;
    position: sticky;
    left: 0;
    top: 90px;

}

.article-title h1{
    font-size: 6.5rem;
    font-weight: bold;
    
}

.article-content{
    margin-top: 50px;
}

.article-contents{
    width: 60vw;
    margin-left: 5%;
    font-size: 1.5rem;
    margin-top: 50px;
    height: 1000px;
    
}

.article-contents h2{
    border-bottom: 4px solid; /* ボーダーの太さやスタイルを適切に設定 */
    border-image: linear-gradient(to right, #60a5ff, #ffffff);
    border-image-slice: 1; /* グラデーションの適用範囲を設定 */
}



.article-button{
    
    margin-top: 20px;
    width: 60%;
}

@media screen and (max-width: 720px) {
    .article-all{
        display: block
        /* 仮の高さ、実際のページに合わせて調整してください */
    
    }
    
    .article-title{
        display: flex;
        flex-direction: column;
        align-items: center; /* 水平方向に中央揃え */
        text-align: center;
        width: 100%;
        position: static;
    }
    
    .article-title h1{
        font-size: 6.5rem;
        font-weight: bold;
    
    }
    
    .article-contents{
        width: 90%;
        font-size: 1.5rem;
        margin-top: 0px;
        height: auto;
        margin-bottom: 200px;
        
    }
    .article-content{
        margin-top: 30px;
    }
      
    .article-contents h2{
        border-bottom: 4px solid; /* ボーダーの太さやスタイルを適切に設定 */
        border-image: linear-gradient(to right, #60a5ff, #ffffff);
        border-image-slice: 1; /* グラデーションの適用範囲を設定 */
    }
    
    
    
    .article-button{
        width: 60%;
        margin-left: 0px;
        margin-top: 20px;
    }
}



