@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
  margin: 0;
  display: relative;
  
}




html{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;
}
@media screen and (max-width: 720px) {
  html{
    margin: 0;
    padding: 0;
    font-size: 8px;
  }
}
.gradient-border {
  display: inline-block;
  width: 30%;
  
  font-size: 3rem;

  margin-bottom: 10px;
  border-bottom: 4px solid; /* ボーダーの太さやスタイルを適切に設定 */
  border-image: linear-gradient(to right, #60a5ff, #ffffff); /* グラデーションの色を指定 */
  border-image-slice: 1; /* グラデーションの適用範囲を設定 */
}

