.homepage {
  color: white;
  margin: 0 8%;
  padding-bottom: 120px;
}

.section {
  margin-top: 160px;
}

.sectionHeader {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.slider {
  margin-top: 24px;
}

@media screen and (max-width: 768px) {
  .homepage {
    margin: 0 4%;
  }

  .section {
    margin-top: 100px;
  }
}
