.homepage{
    color: white;
    font-size: 3rem;
    margin: 0 40px;
}

.homepage ul{
    list-style: none;
    padding: 0;

}

.worktitle{
    font-size: 6.5rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}



.title{
    margin-left: 40px;
}

/* .homepage h1, .homepage p{
    margin: 0;
    padding: 0;

}

.homepage h1{
    margin-left: 30px;

    border-bottom: 2px solid white;
    font-weight: bold;
} */

.pageP{
    margin-left: 30px;
}

.pagelist{
    width: 100%;
    
    margin-top: 300px;
    
}



/* .pink {

  position: relative;
}

.pink::before {
  content: "";
  position: absolute;
  top: 0;
  left: -7px;
  width: 100%;
  height: 50%;
  background-color: #ef5fff; /* 適切な色に調整 */
  /* z-index: -1;
 
} */ 



.slider {
    margin-top: 80px;
}

.workbutton{
    margin-left: 10px;
}

.contactpage{
    margin-bottom: 100px;
    font-weight: bold;
    text-align: center;
    
}

.contactTitle{
    font-size: 4rem;
}

.custom-button {
    background: linear-gradient(to right, #8e44ad, #ef5fff);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    height: 60px;
    /* 他のスタイルを追加 */
  }
  
  .custom-button:hover {
    background: linear-gradient(to right, #6f2987, #b735b2); /* ホバー時のグラデーション（暗め） */
  }