.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 画面の高さいっぱいに伸ばす */
}

.load {
  width: 100px; /* 幅を100pxに設定 */
  height: 100px; /* 高さを100pxに設定 */
  border-width: 8px; /* ボーダーの幅を大きく */
}