.slide-wrapper .swiper-wrapper{
    max-width: 100%;
    transition-timing-function: linear;
  }
  
  .slideImage {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 500px;
    height: 300px;
  }
  
  @media screen and (min-width: 768px) {
    .slideImage {
      aspect-ratio: initial;
    }
  }

