
.img-container{
    margin: 0;
    height: 100vh;
    display: relative;
    display: inline-block;
    width: 100%;
 

}




.top-text{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
}

.top-text h1{
    font-size: 5rem;
}

.top-text p{
    font-size: 2rem;
}

