.custom-button {
  /* background: linear-gradient(to right, #8e44ad, #ef5fff); */
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  color: white;
  padding: 10px 20px;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  /* 他のスタイルを追加 */
}

.custom-button:hover {
  /* background: linear-gradient(to right, #6f2987, #b735b2); ホバー時のグラデーション（暗め） */
  background: linear-gradient(
    to right,
    var(--tertiary-color),
    var(--quaternary-color)
  );
}

.view-con {
  width: 100%;
  height: 100%;
}

.view-con a {
  width: 100%;
  height: 100%;
}
