.workALL{
    color: #fff;
    margin: 120px 20%;
}

.workALL h1{
    font-size: 4rem;
    
}

.workALL .workTitle{
    text-align: center;
}

.workALL img{
    margin: 10% auto;
    width: 100%;
}

.workDetail{
    margin-top: 50px;
    width:100%;
    font-size: 2rem;
}

.workDetail * {
    overflow-wrap: break-word;
  }
  
  .workDetail  a{
    text-decoration: underline;
  }

  .workDetail  a:hover{
    color: #60a5ff;
  }

  .workDetail  img{
    width:50%;
    margin: 0 auto;
  }